*{
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    font-size: 1.5rem;
    position: sticky;
    
}
 .h1{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 120px;
    height: 200px;
}
a{
    text-decoration: none;
    color:white;
}
.site-body{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 80%;
}
.content-item{
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}




img{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    margin-left: 300px;
}

 h1{
    margin-bottom: 15px;
    font-size: 5rem;
 }

.section-1{
    display: flex;
    justify-content: space-between;

    
}
.section-2{
    display: flex;
    justify-content: space-between;
    padding: 70px;
    width: 80%;
}

footer{
    
    margin-top: 5px;
    background-color: black;
    color: white;
    padding: 30px;
    
    
}
button{
    background-color: white;
    color: black;
}
.section-2 h3{
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 50px;
}
.content-item-4  {
    padding-bottom: 50px;
    width: 50px;

}
.footer.section-3,span{
    align-items: center;
}
.item-box{
    border: 100px;
}
@keyframes fade-inout{
   0%{
    opacity: 1;}
    100%{opacity:0;}
   

}
.fade-in-fade-out{
    animation: fade-inout 2s infinite alternate;
}

.image-2{
    margin-right: 700px;
    font-size: 7rem;
    margin-bottom: 50px;


}
h3{
    font-size: 30px;
    color: black;
    margin-bottom: 70px;
    margin-left: 90px;
    padding-left: 70px;
    text-align: center;
    display: flex;
     justify-content: space-between;
    

}
.item-1-box{
    border: 5px solid black;

    
    
}
.item-2-box{
    border: 5px solid black;
    
}
.item-3-box{
    border:5px solid black;
}
h4{
    font-size: 20px;

}
h5{
    font-size: 20px;
    }
    h6{
        font-size: 20px;
    }
    nav{
        padding: sticky;
    }
    h2{
        margin-top: 5px;
    }
.image-2 p{
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 50px;
    padding-right: 80px;
}
.section-2:hover{background-color: black;
    width: 40vw;
    justify-content: space-between;
    padding: 50px;

 
    
}
@media screen and(max-width:900px) {
    body{background-color: white;}
    
}
@media screen and(max-width:600px) {
    body{
        background-color: black;
    }
    
}
